html {
  position: relative;
  min-height: 100%;
}

@font-face {
  	font-family: 'Greta Sans Bold';
  	src: url('../fonts/GretaSansStd-Bold.otf') format('opentype');
}

@font-face {
  	font-family: 'Greta Sans Regular';
  	src: url('../fonts/GretaSansStd-Regular.otf') format('opentype');
}

body {
	/* Margin bottom by footer height */
  	margin-bottom: 273px;
	font-family: 'Greta Sans Regular', sans-serif;
	color:#231f20;
	background-color: #ffffff;
}

body p {
	font-family: 'Greta Sans Regular', sans-serif;
	font-size:18px;
	padding-top:10px;
	line-height:1.3em;
	color:#231f20;
}

body h1, h2, h3, h4, h5 ,h6 {
	font-family: 'Greta Sans Bold';
}
	


#header {
  	width: 100%;
  	background: #ffffff;
}

.logo {
	margin: 40px 0 40px 0;
}

.top-nav p {
	text-align:right;
	margin:17px 0 0 0;
}

body a {
	color:#d0112b;
	text-decoration:none;
}

body a:hover {
	color:#231f20;
	text-decoration:none;
}



.topsocial {
	height: 32px;
	width: 32px;
	margin: 20px 0 0 15px;
	float: right;
}


.container-fluid {
	padding-left:0px;
	padding-right:0px;
}




.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    min-width: 100%;
}

.mosaic {
	margin:30px 0 0 0;
}

.mosaic img {
	width:100%;
	height:auto;
}


.section-left {
	width: 100%;
	height: 302px;
	display: block;
	text-indent:-9999px;
	background-image: url(../images/gerbing-callout-1.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	position: relative;
}

.section-left:hover {
background-position: left top;
}

.section-right {
	width: 100%;
	height: 302px;
	display: block;
	text-indent:-9999px;
	background-image: url(../images/gerbing-callout-2.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	position: relative;
}

.section-right:hover {
background-position: left top;
}















#footer {
  	position: absolute;
  	bottom: 0;
  	width: 100%;
  	/* Set the fixed height of the footer here */
  	min-height:213px; 
  	background: #ffffff;
}

.bottomsocial {
	height: 48px;
	width: 48px;
	margin: 0 20px 0 0;
	float: left;
}

.footer-center {
	text-align:center;
}

.footer-center .btn-default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}

.footer-center .btn {
    background:#d0112b url(../images/gerbing-email-submit.png);
	border:none;
	border-radius:0px;
	width:64px;
	height:50px;
}

.footer-center .form-control {
	height:50px;
	border-radius:0px;
}

.footer-right {
	text-align:right;
}

.footer-right h4 {
	text-align:right;
	color:#d0112b;
	margin:-5px 0 0 0px;
}

.bottom-footer {
	margin-top:22px;
	text-align:center;
}

.bottom-footer p {
	font-size:12px;
	line-height:1.7em;
}

.breadcrumbs, .product-row, .product-addcart, .product-addthis {
	margin-top:30px;
}

.breadcrumbs p {
	font-style:italic;
	font-size:19px;
}

.breadcrumbs span, .product-info .title, .product-title h1, .product-price, .product-details h2, .product-recommended h2{
	color:#d0112b;
}

.product-list, .product-right {
	text-align:center;
}

.product-list {
	min-height:438px;
	margin:15px 0;
}

.product-info .price, .product-title h1 {
	margin-top:0px;
	
}
.product-left.col-md-6 img {
	max-width:100%;
	height:auto;
}
.product-title h1 {
	font-size:48px;
}

.gallery-thumbs img {
	margin:15px 15px 0 0;
}

.product-tags img {
	margin:-7px 7px 0 7px;
}

.product-price h1 {
	margin-top:15px;
}

.product-choice h3 {
	font-size:20px;
}

.product-choice div {
	display:inline-block;
	padding: 7px;
}

.product-details h2, .product-recommended h2 {
	font-size:36px;
}

.product-recommended h2 {
	margin-bottom:30px;
}
.single_variation_wrap {
	margin:0 auto;
}
.quantity.buttons_added input{
	display:inline;	
}











@media screen and (max-width:991px) {
	
/*COLLAPSE NAVBAR BEGIN */
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-default {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
	
/*COLLAPSE NAVBAR END */
	
/*OTHER NAV LAYOUT STYLES */
	
	.navbar-toggle {
		background-color: #ffffff;
		margin-top: 26px;
	}
	
	.navbar-default .navbar-toggle {
		border-color: #ff1818;
	}
	
	
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus  {
		background-color: #ff1818;
		border-color: #ffffff;
	}
	
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #000000;
	}
	
	.navbar-nav > li > a {
		line-height: 25px;
		padding-top:15px;
		
	}
	
	.navbar-nav > li  {
		padding-left:0px;
		text-align:center;
}
	
	
}


	
@media screen and (min-width:992px) and (max-width:1199px) {
	.navbar-nav  {
		margin-left:-45px;
		
	}
	
	.navbar-nav > li  {
		padding-left:25px;
	}
	

}
	

