/*!
	Theme Name: Duck Head
!*/
// Core variables and mixins
@import "less/variables.less";
@import "less/mixins.less";

// Reset and dependencies
@import "less/normalize.less";
@import "less/print.less";
@import "less/glyphicons.less";

// Core CSS
@import "less/scaffolding.less";
@import "less/type.less";
@import "less/code.less";
@import "less/grid.less";
@import "less/tables.less";
@import "less/forms.less";
@import "less/buttons.less";

// Components
@import "less/component-animations.less";
@import "less/dropdowns.less";
@import "less/button-groups.less";
@import "less/input-groups.less";
@import "less/navs.less";
@import "less/navbar.less";
@import "less/breadcrumbs.less";
@import "less/pagination.less";
@import "less/pager.less";
@import "less/labels.less";
@import "less/badges.less";
@import "less/jumbotron.less";
@import "less/thumbnails.less";
@import "less/alerts.less";
@import "less/progress-bars.less";
@import "less/media.less";
@import "less/list-group.less";
@import "less/panels.less";
@import "less/responsive-embed.less";
@import "less/wells.less";
@import "less/close.less";

// Components w/ JavaScript
@import "less/modals.less";
@import "less/tooltip.less";
@import "less/popovers.less";
@import "less/carousel.less";

// Utility classes
@import "less/utilities.less";
@import "less/responsive-utilities.less";
@import "less/wordpress.less";


@font-face {
    font-family: 'wisdom_script_airegular';
    src: url('fonts/wisdom-script/wisdom_script-webfont.eot');
    src: url('fonts/wisdom-script/wisdom_script-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/wisdom-script/wisdom_script-webfont.woff') format('woff'),
         url('fonts/wisdom-script/wisdom_script-webfont.ttf') format('truetype'),
         url('fonts/wisdom-script/wisdom_script-webfont.svg#wisdom_script_airegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/**************************************
      Colors
**************************************/
@color1: #2d4330;
@color2:#6a6a6a;
@color3:#7a7a7a;
/**************************************
    Fonts
**************************************/
@font1:"Lato","Helvetica Neue",Helvetica,sans-serif;
@font2:"Maven Pro","Helvetica Neue",Helvetica,sans-serif;
@font3:'wisdom_script_airegular';
/**************************************
    Headlines
**************************************/
h1 {
    font-size:36px;
    color:@color1;
    font-weight:bold;
    font-family:@font1;
}
h1.page-title {
    font-family:@font3;
    font-size:48px;
    text-align:center;
    font-weight:normal;
    padding:0;
    margin:15px 0  0;
}
h2 {
    font-size:28px;
    color:@color2;
    font-weight:bold;
    font-family:@font1;
}
h3 {
    font-size:20px;
    color:@color1;
    font-weight:bold;
    font-family:@font1;
    line-height:1.5em;
}

.shop-header {
    background:url('imgs/bar.png') center top no-repeat;
    height:55px;
    width:100%;
    display:block;
}

html, body {
    background:@color1;
    font-family:@font2;
    color:@color3;
    font-size:16px;
}

.row {
    margin-left:0;
    margin-right:0;
}

.container {
    background:#fff
}
@media only screen and (max-width:768px) {
    .margin-top-20 {
        margin-top:20px;
    }
}
/**************************************************
    Page Top
**************************************************/
.page-top {
    padding-top:8px;
    .container {
        background:transparent;
        
        p {
            color:#fff;
            margin-top:5px;
            font-size:14px;
            a {
                border-bottom:dotted 1px #fff;
                color:#fff;

            }
            a:hover {
                border-bottom:0;
            }
        }
        ul.header-social-icons {
            li {
                display:inline-block;
                margin:0 5px;
                img {
                    width:30px;
                    height:auto;
                }
            }
        }
    }
}
@media only screen and (max-width : 768px) {
    ul.header-social-icons {
        display:none;
    }
}
/***************************************
    Header
***************************************/
header {
    text-align:center;
    .container {
        .col-md-12 {
            padding:20px 10px ;
            img {
                max-width:100%;
                height:auto;
            }
        }
    }
}
/************************************************
    Main Nav
************************************************/
.main-nav {
    .col-md-12 {
        .menu {
            border-top:solid 2px @color1;
            border-bottom:solid 2px @color1;
            margin:0;
            padding:3px 0;
            text-align:center;
            li {
                display:inline-block;
                padding:5px 10px;
                a {
                    text-transform:uppercase;
                    color:#333;
                }
                a:hover {
                    color:#b72023;
                    text-decoration:none;
                }
            }
            li.current-menu-item {
                a {
                    color:#b72023;
                }
            }
            
        }
    }
}
/***********************************************
    Product Nav
***********************************************/
.product-nav {
    padding:0 5px;
    .col-md-12.nav-wrap {
        margin-right:-4px;
    }
    .col-md-2 {
        border-right:solid 2px @color1;
        border-top:solid 2px @color1;
        border-bottom:solid 2px @color1;
        margin-top:5px;
        img {
            display:block;
            height:73px;
            width:auto;
        }
    }
    .col-md-2.last {
        border-right:0 !important;
    }
    .col-md-12.nav-border-top {
        border-top:solid 2px @color1;
        margin-top:5px;
    }
    .col-md-2 {
        .sub-nav {
            display:none;
        }
    }
    .col-md-2:hover {
        .sub-nav {
            display:block;
            list-style:none;
            position:absolute;
            top:100%;
            padding:0 !important;
            margin:0;
            z-index:9999;
            
            width:100%;
            li:first-child {
                border-top:solid 2px @color1;
            }
            li {
                width:94%;
                padding:3%;
                border-top:solid 1px @color1;
                background:#fff;
                margin:0 -10px;
                a {
                    color:@color1;
                    display:block;
                    width:100%;
                    text-transform:uppercase;
                }
            }
        }
    }
    
}
@media only screen and (max-width : 768px) {
    .product-nav {
        display:none;
    }
}
/**********************************************
    Home
**********************************************/
.home {
    main {
        .row:first-child {
            padding-top:20px;
        }
        .row.staff-picks {
            padding:0;
            .staff {
                padding:10px 10px 0;
                margin:10px 0;
                background:@color1;
                h1 {
                    margin:0;
                    color:#fff;
                    font-weight:normal;
                }
                .shop-header {
                    background:url('imgs/bars-white.png') center top;
                }
            }
            .staff-bottom {
                padding:0 10px;
                margin:10px 0;
                background:@color1;
                .shop-header {
                    background:url('imgs/bars-white.png') center top;
                }
            }
        }
        .row {
            padding-top:10px;
            padding-bottom:10px;
            .row:last-child {
                padding-bottom:0 !important;
            }
        }
        .col-md-9 .row:first-child {
            padding-top:0;
        }
        .col-md-9 .row {
            margin-left:-10px !important;
            margin-right:-10px !important;
        }
        img {
            max-width:100%;
            width:100%;
            height:auto;
        }
    }
}
/*********************************************
    Default
*********************************************/
.page-template-default {
    main {
        img {
            max-width:100%;
            height:auto;
        }
        .row {
            margin:20px 0;
            .col-md-12 {
                .double-border {
                    border:double @color1;
                    padding:40px 0 30px;
                }
            }
            .col-md-10 {
                h1, h2, h3 {
                    text-transform:uppercase;
                }
                a {
                    color:@color1;
                    font-weight:bold;
                }
            }
        }
    }
}
.woocommerce-cart {
    main {
        .row {
            margin:0;
        }
    }
}

/****************************************
    Stores
****************************************/
.page-template-stores-php {
    main {
        .col-md-4 {
            padding:20px 0 ;
            h3:first-child {
                margin-top:0;
            }
        }
    }
}
/*******************************************
    WooCommerce 
*******************************************/
.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-ordering, .woocommerce-page .woocommerce-result-count {
    margin-bottom:50px;
}

.woocommerce #content div.product div.summary, 
.woocommerce div.product div.summary, 
.woocommerce-page #content div.product div.summary, 
.woocommerce-page div.product div.summary, 
.woocommerce #content div.product div.images, 
.woocommerce div.product div.images, 
.woocommerce-page #content div.product div.images, 
.woocommerce-page div.product div.images {
    float:none !important;
    width:94% !important;
}
@media only screen and (max-width : 768px) {
    .woocommerce #content div.product div.summary, 
    .woocommerce div.product div.summary, 
    .woocommerce-page #content div.product div.summary, 
    .woocommerce-page div.product div.summary, 
    .woocommerce #content div.product div.images, 
    .woocommerce div.product div.images, 
    .woocommerce-page #content div.product div.images, 
    .woocommerce-page div.product div.images {
        float:none !important;
        width:100% !important;
    }
}

.product-list {
    text-align:center;
    min-height:540px;
    h3.title {
        /*text-transform:uppercase;*/
    }
    h3.price {
        color:#000;
    }
}
.archive-swatch {
    display:inline-block;
    width:20px;
    height:20px;
    outline:solid 1px #ccc;
}
.woocommerce .woocommerce-error:before, 
.woocommerce .woocommerce-info:before, 
.woocommerce .woocommerce-message:before, 
.woocommerce-page .woocommerce-error:before, 
.woocommerce-page .woocommerce-info:before, 
.woocommerce-page .woocommerce-message:before {
    height:auto;
}
.woocommerce .woocommerce-breadcrumb, 
.woocommerce-page .woocommerce-breadcrumb {
    color:#2d4330;
    margin:20px 10px;
    font-weight:bold;
    text-transform:uppercase;
}
.woocommerce .woocommerce-breadcrumb a, 
.woocommerce-page .woocommerce-breadcrumb a {
    color:#2d4330;
    font-weight:normal;
}
.yith_magnifier_zoom_wrap {
    z-index:999 !important;
}
/*****************************************
    Archives
*****************************************/
.post-type-archive-news {
    .row {
        article {
            margin-top:20px;
            margin-bottom:20px;
            .col-md-4 {
                img {
                    max-width:100%;
                    height:auto;
                }
            }
        }
    }
}
/*****************************************
    Contact Form
*****************************************/
.wpcf7-form {
    margin-top:30px;
    input {
        padding:7px;
        max-width:100%;
    }
    textarea {
        padding:5px;
        max-width:100%;
    }
    input[type=submit] {
        background:@color1;
        color:#fff;
        border:double @color1;
    }
}
/*******************************************
    Footer
*******************************************/
footer {
    .row {
        background:@color1;
        margin:10px 10px 20px;
        [class*="col-"] {
            margin:30px 0;
        }
        ul {
            list-style:none;
            font-size:14px;
            font-family:@font2;
            li {
                a {
                    font-weight:normal;
                    color:#fff;
                    text-transform:uppercase;
                }
            }
            li:first-child {
                a {
                    font-weight:bold;
                }
            }
        }
        img {
            max-width:100%;
        }
        form {
            margin-top:15px;
            p {
                color:#fff;
            }
            input {
                padding:4px;
            }
            button {
                padding:4px;
            }
        }
    }
}
/*******************************************
    Footer Bottom
*******************************************/
.footer-bottom {
    margin:10px 0;
    .container {
        background:transparent;
        text-align:center;
        ul.footer-social-icons {
            padding:0;
            margin:15px 0;
            li {
                display:inline-block;
                margin:0 5px;
                img {
                    width:25px;
                    height:auto;
                }
            }
        }
        p {
            color:#fff;
            font-size:12px;
            text-transform:uppercase;
            a {
                color:#fff;
                text-decoration:underline;
            }
        }
    }
}

/********************************************
    Search
********************************************/

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;

    .close {
        position: fixed;
        top: 15px;
        right: 15px;
        color: #fff;
        background-color: @color1;
        border-color: #357ebd;
        opacity: 1;
        padding: 10px 17px;
        font-size: 27px;
    }
    input[type="search"] {
        position: absolute;
        top: 50%;
        width: 100%;
        color: rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0);
        font-size: 60px;
        font-weight: 300;
        text-align: center;
        border: 0px;
        margin: 0px auto;
        margin-top: -51px;
        padding-left: 30px;
        padding-right: 30px;
        outline: none;
    }
    .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 61px;
        margin-left: -45px;
        background:@color1;
        outline:0;
        border:0;
    }
    .btn.btn-primary {
        background:lighten(@color1, 10%);
    }
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}
.search-results {
    .col-md-4 {
        text-align:center;
        img {
            max-width:100%;
            height:auto;
        }
        h3 {
            a {
                color:@color1;
            }
        }
    }
}